<footer class=" text-center">
	<div class="text-align-center">
		 Pantry
		 <span class="glyphicon glyphicon-copyright-mark"></span>
		 2017
		 <p><span><strong>Team HoneyBadger: </strong>Stephanie, Jimmy, Elena, and Wes</span></p>
	</div>
</footer>
