<html>
 <head>
   <title><%= title %></title>
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
   <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>
   <div class="container">
        <form class="col s6 push-s3">
          <div class="row">
          </div>
          <div class="row">
         <% if (user) { %>
           <a class="waves-effect waves-light btn" href="/logout">Log Out</a>
           <%= user.name %>
         <% } else { %>
            <div class="input-field">
              <input id="email" type="email" class="validate">
              <label for="email" class="active">Email</label>
            </div>
            <div class="input-field">
              <input id="password" type="password" class="validate">
              <label for="password" class="active">Password</label>
            </div>
          </div>
         <a class="waves-effect waves-light btn" href="/auth/google">Log In Using Google</a>
         <a class="waves-effect waves-light btn right" href="/login">Log In</a>
         <% } %>
        </form>
      </div>
   </div>
 </body>
</html>
