

  <% recipes.forEach(recipe => { %>
  <%= recipe.title %><br>
  <img src ="https://spoonacular.com/recipeImages/<%= recipe.image %>" style="width:300px;height: 300px;">
  <img src ="<%= recipe.image %>" style="width:300px;height: 300px;">
  <a href="/recipes/<%= recipe.id %>">Add to Favs</a>
<% }); %>



