<% include ./header %>

<div class="container-fluid search-content">
  <div class="col-sm-3 col-xs-6 sidebar-pantry">
    <form class="navbar-form navbar-right">
      <input type="text" class="form-control" placeholder="Search...">
    </form>
  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="row">
      <% recipes.forEach(recipe => { %>
        <div class="col-lg-4 col-xs-6 portfolio-item">
          <div class="recipe-image-cropper">
            <img src ="https://spoonacular.com/recipeImages/<%= recipe.image %>" class="img-responsive" size="40x40">
          </div>
        <div class="portfolio-caption">
          <h4><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h4>
          <% if (user) { %>
            <a href="/recipes/<%= recipe.id %>/fav">Add to Favs</a>
          <% } %>
          <!-- <p class="text-muted">COOK TIME: <%#= recipe.readyInMinutes %></p><br> -->
          <!-- <p class="text-muted"><strong>Ingredients: </strong> -->
            <%#= recipe.extendedIngredients.map(ing => ing.name).join(', ') %>
          <!-- </p> -->
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>

</body>
</html>
