body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 70px;
}

a {
  color: #00B7FF;
}

a.btn.btn-default.navbar-btn {
  margin-right: 30px;
  margin-top: 20px;
  background-color: #3b9792;
  color: white;
  border-color: transparent;
}

a.btn.btn-default.navbar-btn:hover {
  background-color: #3b9792;
  color: white;
  border-color: transparent;
}

ul.nav.navbar-nav.navbar-right {
  height: 85px;
}

#logo-img{
  height: 75px;
  width: 75px;
}

#logo-div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.jumbotron {
  background-image: url('http://i.imgur.com/E5Pf77P.jpg');
  background-size: cover;
  height: 500px;
  color: white;
}

div.col-lg-3.col-sm-6.portfolio-item {
	/*border: solid black 2px;*/
	height: 600px;
	text-align: center;
}

.recipe-image-cropper img {
	vertical-align: middle;
  height: 60%;
  min-width: 100%;
  left: 50%;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  transform: translateX(-50%);
}

div.img.img-responsive {
	height: 300px;
}

.text-muted {
	color: #777777;
}